/* 
    Document   : details
    Created on : Dec 13, 2012, 10:45:19 AM
    Author     : rossbille
    Description:
        Purpose of the stylesheet follows.
*/

root 
{ 
    display: block;
}
.container
{
    width: 600px;
    margin: 0 auto;
}
.conflict
{
    border: red solid;
    background-color: pink;
}
#main
{
    border: blue solid;
    background-color: aqua;
}
.appointment
{
    margin-top: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    padding: 20px;
    height: 300px;
}
.users
{
    width: 100%;
}
.float
{
    float: left;
    width: 48%;
    margin-right: 1%;
}
.required, .guests
{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    overflow-y: scroll;
    height: 50px;
}
.td
{
    text-align: center;
}
.message
{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    margin-top: 10px;
    width: 96%;
    float: left;
}
.contents
{
    overflow: scroll;
    width: 100%;
    height: 50px;
}
.action
{
    margin-top: 15px;
    width: 100%;
    float: left;
}
.warning
{
    margin-top: 20px;
    text-align: center;
    font-weight: 900;
}
#main .message, #main .required, #main .guests
{
    padding: 2px;
    border: blue solid;
    background-color: #e3ffff;
}
.conflict .message, .conflict .required, .conflict .guests
{
    padding: 2px;
    border: red solid;
    background-color: #ffded7;
}