/* 
    Document   : styles
    Created on : Sep 29, 2012, 12:07:26 AM
    Author     : Ross
    Description:
        Purpose of the stylesheet follows.
*/
html 
{
    margin:0;
    padding:0;
}

root 
{ 
    display: block;
}
td.selected
{   
    background-color:red;
}
tr.selected
{
    background-color:pink;
}
#container
{
    background-color:transparent;
    margin:auto;
    height:auto;   
}
.left
{
    float: left;
    width: 150px;
    margin-right: 10px;;
}
.right
{
    
    float: left;
    width: 600px;
}
.login
{   
    text-align:right;
    float: right;
    width: 15%;
}
.date
{   
    font-size: x-large;
    font-weight: 900;
    margin-left:100px; 
    text-align: center;
    float: left;
    width: 65%;
}
.weekly_schedule
{
    
    float: left;
}
div.scroll
{
    width:250px;
    height:600px;
    overflow:scroll;
}
table 
{
    margin-left:auto;
    margin-right:auto;
    text-align:left
}
div.activity
{
    font-size: 105%;
    font-weight: bolder;    
}
.activity a 
{
    color: red;
    font-weight: bolder;  
}
.month a 
{
    color: black;
    text-decoration:none;
}

.month a:hover {
    color: blue;
    text-decoration:none;
}
.month
{
    padding: 5px;
    border: solid;
    text-align: center;
}
table
{
    font-size: 90%;
    border-collapse: collapse;
    margin-bottom: 15px;
}
.month td, .month th
{
    text-align: center;
    border:1px solid black;
    margin: auto;
    
}
.month th
{
    text-wrap: none;
}
.navigation
{
    margin-top: 10px;
    margin-bottom: 10px;
}
.month_name
{
    margin-bottom:10px;
    text-decoration: black;
    font-weight: bolder;
}
td.start_approved
{
    background-color:greenyellow;
    border-top: black solid;
    border-left: black solid;
    border-right: black solid;
}
td.end_approved
{
    background-color:greenyellow;
    border-bottom: black solid;
    border-left: black solid;
    border-right: black solid;
}
td.single_approved
{
    background-color:greenyellow;
    border-top: black solid;
    border-bottom: black solid;
    border-left: black solid;
    border-right: black solid;
}
td.middle_approved
{
    background-color:greenyellow;
    border-left: black solid;
    border-right: black solid;
}

td.start_pending
{
    background-color:brown;
    border-top: black solid;
    border-left: black solid;
    border-right: black solid;
}
td.end_pending
{
    background-color:brown;
    border-bottom: black solid;
    border-left: black solid;
    border-right: black solid;
}
td.single_pending
{
    background-color:brown;
    border-top: black solid;
    border-bottom: black solid;
    border-left: black solid;
    border-right: black solid;
}
td.middle_pending
{
    background-color:brown;
    border-left: black solid;
    border-right: black solid;
}
td.blocked
{
    background-color:grey;
    border: black solid;
}
a
{
    color: black;
    text-decoration:none;
}

td.blank
{
    border: black 1px solid;
}
.weekly_schedule td, .link
{
    width:80px;
    height: 35px;
    text-align: center;
}
th.selected_date
{
    color: blue;
    width: 10%;
}
td.head
{    
    width: 8%;
    border-bottom: 1px dashed black;
}
th.plain
{
    border-bottom: 1px dashed black;
}
.button
{
    font-size: 105%;
    height: 200%;
    width: 95%;
}
.blank
{
    width: 10%;
}
